<!DOCTYPE html>
<html>
  <head>
    <title><%= t "admin.title" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <%= link_to admin_root_path, class: "navbar-item" do %>
          <p>Admin</p>
        <% end %>
      </div>

      <div class="navbar-menu">
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <% if current_user %>
                <%= link_to admin_logout_path, method: :delete, data: { confirm: "Are you sure to logout?" }, class: "button is-danger" do %>
                  Logout
                <% end %>
              <% else %>
                <%= link_to admin_login_path, class: "button is-light" do %>
                  Log in
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <section class="section">
      <div class="container">
        <div class="columns">

          <div class="column is-one-quarter">
            <aside class="menu">
              <p class="menu-label">
                General
              </p>
              <ul class="menu-list">
                <li><%= link_to "Home", admin_root_path, class: ("is-active" if current_page?(admin_root_path)) %></li>
              </ul>
              <p class="menu-label">
                Administration
              </p>
              <ul class="menu-list">
                <li><%= link_to "Company", admin_companies_path, class: ("is-active" if controller_name == "companies") %></li>
                <li><%= link_to "StaffMember", "#", class: ("is-active" if controller_name == "staff_members") %></li>
                <li><%= link_to "AdminUser", "#", class: ("is-active" if controller_name == "admin_users") %></li>
              </ul>
            </aside>
          </div>

          <div class="column">
            <% flash.each do |name, msg| %>
              <div class="notification <%= name %>"><%= msg %></div>
            <% end %>

            <%= yield %>
          </div>
        </div><!-- .column -->
      </div><!-- .container -->
    </section>
  </body>
</html>
