<!DOCTYPE html>
<html>
  <head>
    <title><%= t "admin.title" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <%= link_to admin_root_path, class: "navbar-item" do %>
          <p>Admin</p>
        <% end %>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <%= link_to "#", class: "navbar-item" do %>
            Home
          <% end %>

          <%= link_to "#", class: "navbar-item" do %>
            Documentation
          <% end %>

          <div class="navbar-item has-dropdown is-hoverable">
            <%= link_to "#", class: "navbar-link" do %>
              More
            <% end %>

            <div class="navbar-dropdown">
              <%= link_to "#", class: "navbar-item" do %>
                About
              <% end %>
              <%= link_to "#", class: "navbar-item" do %>
                Jobs
              <% end %>
              <%= link_to "#", class: "navbar-item" do %>
                Contact
              <% end %>
              <hr class="navbar-divider">
              <%= link_to "#", class: "navbar-item" do %>
                Report an issue
              <% end %>
            </div>
          </div>
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <% if current_user %>
                <%= link_to admin_logout_path, method: :delete, data: { confirm: "Are you sure to logout?" }, class: "button is-danger" do %>
                  Logout
                <% end %>
              <% else %>
                <%= link_to admin_login_path, class: "button is-light" do %>
                  Log in
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <section class="section">
      <div class="container">
        <% flash.each do |name, msg| %>
          <div class="notification <%= name %>"><%= msg %></div>
        <% end %>

        <%= yield %>
      </div>
    </section>
  </body>
</html>
